* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #f5f6fa ;
    height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}
.container{
    /*设置全部的高度以及宽度*/
    height: 100%;
    width: 100%;
    background: url("../img/index/bg.jpg") no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container div{
    /*设置container下的div进行浮动*/
    float: left;
}

.NavigationBar{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(17, 24, 39);
    /*border-radius: 10px;*/
    transition: 0.3s;
    overflow: hidden;
}

.box{
    display: block;
    height: 15%;
    width: 85%;
    margin: 5px;
    position: relative;
    transition: 0.3s;
    color: rgb(160, 160, 175);
}

.box i{
    position: absolute;
    margin: 20px 0 30px 13px;
}

.box:nth-child(1)::before,
.box:nth-child(5)::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(55, 65, 81);
    position: absolute;
    bottom: -10px;
}

.box span{
    position: relative;
    top: 22px;
    left: 80px;
    font: 500 20px '';
    opacity: 0;
    transition: 0.1s;
}

.NavigationBar:hover{
    width: 17%;
}
.box:hover{
    background-color: rgb(55, 65, 81);
}
.NavigationBar:hover span{
    opacity: 1;
}
.box:hover{
    color: #fff;
    overflow: hidden;
}

.web{
    height: 100%;
    width: 83%;
}

.joke-box{
    height: 10%;
    width: 100%;
    background-color: rgba(210, 210, 220, 0.7);
    margin-left: 6%;
    margin-top: 1%;
}
.joke-box div{
    float: left;
}
.joke{
    height: 100%;
    width: 90%;
}
.joke p{
    text-indent: 2em;
    letter-spacing: 2px;
    margin: 2px 2px 5px 5px;
    color: #f5f6fa;
}
.refresh-box{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
