*{
    margin: 0;
    padding: 0;
}

html, body{
    /*定义高度*/
    height: 140vh;
}

.container{
    height: 100%;
    background-image: url("../img/personalCentre/bg.jpg");
}

.head{
    height: 27%;
    display: flex;
    justify-content: center;
}

.pic{
    height: 100%;
    width: 20%;
    background-color: #8c939d;
    margin-left: -6%;
    border-radius: 50%;
}

.pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/*个人信息盒子*/
.info-box{
    height: 65%;
    width: 100%;
}

.line-box{
    height: 15%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: "Adobe 宋体 Std L", serif;
    text-indent: 4px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/*按钮样式*/
.refresh{
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

